[project]
	description = "An #EpicGameJam HTML5 game"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/William DA SILVA (WilliamDASILVA)
[access "refs/for/refs/*"]
	read = group user/William DA SILVA (WilliamDASILVA)
	push = group user/William DA SILVA (WilliamDASILVA)
	label-Code-Review = -2..+2 group user/William DA SILVA (WilliamDASILVA)
	label-Verified = -1..+1 group user/William DA SILVA (WilliamDASILVA)
	rebase = group user/William DA SILVA (WilliamDASILVA)
	removeReviewer = group user/William DA SILVA (WilliamDASILVA)
	submit = group user/William DA SILVA (WilliamDASILVA)
[access "refs/heads/*"]
	read = group user/William DA SILVA (WilliamDASILVA)
	create = group user/William DA SILVA (WilliamDASILVA)
	push = +force group user/William DA SILVA (WilliamDASILVA)
	pushMerge = group user/William DA SILVA (WilliamDASILVA)
[access "refs/tags/*"]
	push = group user/William DA SILVA (WilliamDASILVA)
	push = +force group user/William DA SILVA (WilliamDASILVA)
